html, body {
  overflow-x: hidden;
}

body {
  font-family:'Open Sans', Helvetica, sans-serif;
  color: #394044;
}

h1, h2, h3, h4, h5, h6 {
  font-family:'Nunito', Helvetica, sans-serif;
}

h2 {
  font-size: 28px;
  font-weight: normal;
  margin-bottom: 5px;
}

p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 100;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}


/* GRID */

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.container:before,
.container:after {
  content: " ";
  display: table;
}

.container:after {
  clear:both;
}

.one-half, .one-third, .one-fourth {
  width: 96%;
  float: left;
  position: relative;
  min-height: 1px;
  margin: 0 2% 20px;
}

.full-width {
  width: 100%;
}

.featleft, .featright {
  float: left;
  width: 30%;
}

.featright {
  width: 68%;
  margin-left: 2%
}

.float {
  float: left;
}

/* HEADER */

header {
  color: #F9FAFA;
  background: url('../images/hero-image.png');
  background-size: cover;
  min-height: 680px;
  width: 100%
}

header nav {
  padding: 1em;
}

header nav ul {
  display: inline;
  text-align: right;
  float: right;
  margin: 0;
}

header nav ul > li {
  list-style-type: none;
  display: inline-block;
  margin: 0 15px;
}

header nav ul > li.btn-outline {
  padding: 10px 15px;
  border: 2px solid #F9FAFA;
  border-radius: 4px;
}

header nav ul > li.btn-outline:hover {
  background: #F9FAFA;
}

header nav ul > li > a {
  color:#F9FAFA;
  text-decoration: none;
}

header nav ul > li.btn-outline:hover > a {
  color: #34495E;
}


header .hero {
  text-align: center;
  display: block;
  position: relative;
}

header .hero h1 {
  font-size: 48px;
  font-weight: normal;
  margin: 95px 0 0;
}

header .hero p {
  font-size: 22px;
  line-height: 28px;
  font-weight: 100;
  margin: 10px 0 40px;
}

header .hero img {
  display: block;
  margin: 3em auto 0;
}

/********** BENEFITS **********/

.benefits {
  padding-top: 8em;
  padding-bottom: 5em;
  background: #F9FAFA;
  background-size: cover;
  text-align: center;
  position: relative;
}

.benefits img {
  width: 120%;
  margin-left: -80px;
}

.float {
  padding-top: 5px;
}

.benefits i {
  color: #367A94;
  font-size: 50px;
  margin-bottom: 0;
}

.benefits h2 {
  color: #367A94;
  font-size: 28px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
}

.benefits p {
  text-align: left;
}

/********** PRICING **********/

.pricing {
  background: #5F6C73;
  background-size: cover;
  padding: 4em 0;
  text-align: center;
  position: relative;
}

.pricing h2 {
  color: #F9FAFA;
  margin-top: 0;
}

.pricing p {
  color: #F9FAFA;
  margin: auto 15em 30px 15em;
}

.pricing ul {
  margin: 0 auto;
  padding: 2em 0;
}

.pricing ul li {
  list-style-type: none;
}

.box {
  padding: 0 15px 15px;
  background-color: #F9FAFA;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  position: relative;
  min-height: 439px;
  margin-top: 25px;
}

.box.middle {
  min-height: 485px;
  margin-top: 0px;
}

.box h3 {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  background: #E2E2E2;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  margin: 0 -15px 40px;
  padding: 10px 0;
}

.box h4 {
  font-size: 50px;
  font-weight: normal;
  margin: 40px 0 10px;
  color: #367A94;
}

.box h4 span {
  font-size: 32px;
  vertical-align: top;
}

.box h4 span.month {
  font-family:'Open Sans', Helvetica, sans-serif;
  font-weight: 100;
  color: #58646B;
  font-size: 20px;
  vertical-align: middle;
}

.box ul li {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 100;
}

.box .btn {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
}

.small {
  font-size: 12px;
  color: #F9FAFA;
  line-height: 15px;
  font-style: italic;
}

/* BUTTONS */

.btn {
  border-radius: 4px;
  color: #F9FAFA;
  font-weight: 700;
  text-decoration: none;
  padding: 10px 30px;
  background: #7AB55C;
  border: 2px solid #7AB55C;
  box-shadow: 1px 2px 2px 0px rgba(122, 181, 92, 0.5);
}


/********** TESTIMONIALS **********/

.testimonials {
  background: url('../images/testimonial-background.png'); 
  background-size: cover;
  min-height: 503px;
  width: 100%;
  padding: 4em 0;
  text-align: center;
}

.testimonials h2 {
  color: #367A94;
  margin-top: 0;
}

.testimonials p {
  color: #394044;
  margin: auto 14em auto 14em;
}

.quote {
  display: inline-block;
  float: center;
  margin-top: 40px;
}

.testimonials blockquote {
  color: #F9FAFA;
  text-align: left;
  font-style: italic;
  font-weight: 100;
  line-height: 21px;
  background: #394044;
  position: relative;
  padding: 30px;
  width: 286px;
  border-radius: 4px;
  display: inline-block;
  margin-top: 40px;
}

.testimonials blockquote:after {
  top: 30%;
  left: 100%;
  content: " ";
  width: 0;
  height: 0;
  position: absolute;
  pointer-events: none;
  border-style: solid;
  border-width: 12px 0 12px 26px;
  border-color: transparent transparent transparent #394044;
}

.testimonials img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 30px;
}

p.name {
  font-weight: 400;
  text-align: left;
  margin-right: 0;
  margin-left: 550px;
}

.name span {
  color: #367A94;
}


/************ FOOTER *************/

footer {
  background-color: #394044;
  color: #F9FAFA;
  height: 150px;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.footer-nav-block {
  margin-right: 0;
  padding-right: 0;
}

footer p, footer nav ul {
  font-size: 14px;
  font-weight: 100;
  text-align: center;
  margin: 10px auto 0;
}

footer nav ul li {
  list-style-type: none;
  display: inline;
}

footer nav ul li a {
  color: #F9FAFA;
  text-decoration: none;
}

footer .right-footer-block {
  background-color: #3498DB;
  margin: 0;
  float: right;
}


footer .logo {
  padding: 2.35em 0;
  margin: 0 auto;
  display: block;
}


/************* DASHBOARD **************/

.dashboard {
  background: #F9FAFA;
}

.top-nav {
  height: 114px;
  width: 100%;
  color: rgba(249, 250, 250, 0.5);
  background: #394044;
  position: fixed;
  display: inline;
  z-index: 1;
}

.top-nav .site-logo {
  height: 114px;
  padding: 0 50px;
  background: rgba(54, 138, 169, 0.8);
  display: block;
  text-align: center;
  float: left;
}

.top-nav .site-logo img {
  padding: 35px 0;
}

.top-nav ul {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  color: rgba(249, 250, 250, 0.5);
  float: left;
  padding: 35px 0 35px 20px;
}

.top-nav ul li {
  list-style-type: none;
  display: inline;
  margin-right: 15px;
}

.top-nav ul li a {
  color: rgba(249, 250, 250, 0.5);
  text-decoration: none;
}

.top-nav ul li:active {
  color: #F9FAFA; 
}

.top-nav ul li a i {
  text-align: center;
  margin-right: 5px;
}

.top-nav .settings {
  width: 20%;
  height: 114px;
  background: rgba(54, 138, 169, 0.8);
  float: right;
  display: inline;
}

.top-nav .settings p {
  color: #F9FAFA;
  font-weight: 200;
  font-size: 12px;
  margin: 0 0 0 10px;
  padding: 45px 0;
  float: left;
}

.top-nav .settings img {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  margin-left: 10px;
  padding: 35px 0;
  float: left;
}

.top-nav .settings a {
  float: right;
  text-decoration: none;
  color: #F9FAFA;
  padding: 45px 0;
}

.top-nav .settings a i {
  text-align: center;
  margin-right: 10px;
}

/************* CONTENT *************/

.content {
  padding-top: 8rem;
  float: center;
  width: 98%;
  position: relative;
  overflow: hidden;
}

.content .header {
  margin: 0 0 20px;
}

.content .header h1 {
  font-family: "Nunito", Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 30px;
  font-size: 28px;
  color: #368AA9;
  line-height: 48px;
  float: left;
  display: inline-block;
}

.content .header > a {
  float: right;
}

.masonry {
  -webkit-column-count: 4;
  column-count: 4;
  column-gap: 1rem;
  z-index: 3;
}

.item {
  background-color: #FFFFFF;
  display: inline-block;
  margin: 0 0 1rem; 
  width: 100%;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.4);
  overflow: hidden;
  padding: 10px;
}

#image.item {
  padding: 0px;
}

.item h2 {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  margin: 0 5px;
}

.item h2 a {
  color: #368AA9;
  text-decoration: none;
}

.item h2 img {
  width: 16px;
  height: 16px;
  position: relative;
  top: 2px;
  margin-right: 5px;
}

.item p {
  font-size: 12px;
  color: #394044;
  line-height: 17px;
  margin: 5px;
}

/************ MEDIA QUERIES *************/

@media (min-width: 320px) {

  .testimonials p, .pricing p {
    margin: 0 0 0 0;
  }
}


@media (min-width: 768px){
  .container {
    width: 750px;
  }

  .testimonials p, .pricing p {
    margin: 0 10rem;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .one-half {
    width: 46%;
  }
  .one-third {
    width: 29.33333%;
  }
  .one-fourth {
    width: 21%;
  } 
  .phone-hide {
    display: none;
  }
  .phone-show {
    display: block;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  .phone-hide {
    display: block;
  }
  .phone-show {
    display: none;
  }
}

@media tv and (min-width: 700px) and (orientation: landscape) {
  header .hero h1 {
    font-size: 90px;
    margin: 75px 0 0;
  }
  header .hero p {
    font-size: 48px;
    line-height: 60px;
    margin: 40px 0 40px;
  }
}

@media (min-width: 992px) {
  footer {
    background-color: #394044;
    height: 100px;
  }
  footer p, footer nav ul {
    padding: 2em 0;
    text-align: left;
  }
  footer .right-footer-block {
    background-color: #3498DB;
  }
  footer .logo {
    padding: 2em 0 2em 1.5em;
  }
}

@media (min-width: 100px) {
  .masonry {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}

@media (min-width: 400px) {
  .masonry {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}

@media (min-width: 700px) {
  .masonry {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}

@media (min-width: 900px) {
  .masonry {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }
}








